body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:visited {
  color: #000;
}

table tr.alert {
  background: #FFF4D1;
}
table th {
  height: 50px;
}
table td {
  padding-right: 10px;
}